
<br>
<div class="shadow p-3 mb-5">
<div class="container px-2 shadow p-3 mb-5 bg-white rounded " class="z-index:10; ">
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Admin Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="adminId" placeholder="Admin Id" ngModel >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Admin Password</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Password" name="password" ngModel>
      </div>
    </div>
    <br>
 
    <div class="form-group row">
      <div class="ml-4"> <strong>Set Permissions <br></strong></div>
      <br>
      <div class="ml-4">
       <br> <div class="form-check" *ngFor="let perm of permissions">
          <input class="form-check-input" type="checkbox" id="gridCheck1"  name="prem"  [value]="perm" (change)="onChange(checkBox)" #checkBox ngModel>
          <label class="form-check-label" for="gridCheck1">
            {{perm}}
          </label>
        </div>
    
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn" style="background-color: orangered; width: 100px;border-radius: 10px; color: white;">Save</button>
      </div>
    </div>
  </form>
  </div>
  </div>
  